
.matchUpSelect {
  margin: 16px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.spaceEvenly {
  justify-content: space-evenly;
  align-items: center;
}

.centerRow {
  justify-content: center;
}

.fullWidth {
  width: 100% !important;
}

.table {
  padding: 16px;
  margin: 8px;
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.row-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 4px 0;
  height: 36px;
}

.table .row {
  flex-wrap: nowrap;
}

.nameCell {
  width: 200px;
  flex: 0 0 auto;
}

.valueCells{
  flex-wrap: nowrap;
  width: auto;
  overflow: scroll;
}

.valueCell {
  width: 100px;
  text-align: center;
  flex: 0 0 auto;
}

.playoffs.table .valueCell {
  text-align: right;
}

.graphContainer {
  width: 50%;
  min-width: 600px;
}

@media only screen and (max-width: 600px) {
  .matchUpHeader {
   font-size: 20px;
   padding: 16px 4px
  }
  .row-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0;
  }
  .valueCells{
    width: calc(92vw - 200px);
  }
  /* .nameCell {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  
  .valueCell {
    width: 25%;
    text-align: center
  } */
  .graphContainer {
    min-width: 100%
    
  }
}